*{
    margin: 0;
    padding: 0;
    color: black;
}
html{
    overflow-x: hidden;
}
.hoverbald:hover{
    font-weight: bold;
}
.navbarstyl>div>a{
    margin-left:5%;
}
.navbarstyl>div>div>ul{
    margin-left:5%;
}
.col-12{
    background-color: #fff;
    padding: 0;
}
.news{
    padding-bottom: 5%;
    width: 100%;
    color:#29497d;
    text-decoration: none;
}
.news>a{
    color:#29497d;
    text-decoration: none;
    font-size: 3rem;
}
.greyground>a{
    color:#29497d;
    text-decoration: none;
    font-size: 3rem;
}
.btnnews{  
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.greyground{
    background-color:#f0f0f0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.textova-diva{
    padding-left: 15%;
    padding-right: 15%;
}
.card-body{
    background-color: #29497d;
    color: white;
}
.card-body>p{
    color: white;
    text-decoration: none;
}
.card-body>h5{
    color: white;
    text-decoration: none;
}
.card-body>a{
    color: white;
    text-decoration: none;
    background-color: #29497d;
    border: 1px solid white;
}
.card-body>a:hover{
    color: white;
    text-decoration: none;
    background-color: #29497d;
    border: 1px solid white;
    font-weight: bold;
}
.card-body>a:active{
    color: white;
    text-decoration: none;
    background-color: #29497d;
    border: 1px solid white;
}
.afternews>button{
    color: #29497d;
    text-decoration: none;
    background-color: white;
}
.afternews>button:hover{
    color: black;
    text-decoration: none;
    background-color: white;
    border: 1px solid #29497d;
    font-weight: bold;
}
.textova-diva>button{
    color: #29497d;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.textova-diva>button:hover{
    background-color: white;
    color: black;
    border: 1px solid #29497d;
    font-weight: bold;
}
.textova-diva>button:active{
    background-color: white;
    color: #29497d;
    border: 1px solid #29497d;
}
.project>a{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    color: #29497d;
    font-size: 3rem;
}
.project{
    padding-top:3rem;
    padding-bottom:3rem;
    overflow-x: hidden;
}
.hora{
    margin-top:3rem;
}
.obrz-4{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.afternews>button{
    margin-top:7rem;
}
.col-12a>a{
    text-decoration: none;
    color: white;
}
.botbar{
    background-color: #01274e;
}
.botbar>div>div{
    background-color: #01274e;
}
.col-3p>p{
    color: white;
    margin: 0px;
}
.botrow{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7rem;
}
.col-3p{
    margin: 0px;
    margin-left: 5.3rem;
}
.pname{
    font-size: 1rem;
    font-weight: bold;
}
.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;   
}
.footer>a{
    text-decoration: none;
    color: white;
}
.botbarb{
    background-color: #014992;
}
.footer{
    background-color: #014992;
}
.botrow{
    padding-top:3rem;
}
.pcontent{
    font-size: 0.75rem;
}
/*
contact.html
*/
.kontakt{
    width: 100%;
    height: 5rem;
}
.row1>div{
    text-align: left;
}
.row1{
    margin: 20px;
    border-radius: 5px;
    border: none;
    width: 60%;
    padding: 2rem;
    box-shadow: 0px 0px 15px gray;
    justify-content: center;
    text-align: center;
}
.coll{
    margin:2rem;
    margin-left: 0px;
    padding-left: 0px;
}
.contacty{
    margin-top: 2rem;
}
.mail{
    color: blue;
}
.tel{
    color: blue;
}
.inf{
    color:grey;
    font-weight: normal;
    font-size: 1rem;
}